---
import { Icon } from "astro-icon/components";
import * as about from "../pages/about/about.md";
---

<header class="mx-auto pt-6 pb-0 relative">
  <article
    class="flex flex-col md:flex-col items-center gap-4 w-full max-w-2xl"
  >
    <div
      class="flex-shrink-0 w-20 md:w-24 rounded-full shadow-2xl overflow-hidden"
    >
      <img
        alt="avatar"
        src="/vasko.webp"
        class="drop-shadow-lg"
      />
    </div>

    <div class="text-center">
      <div
        class="flex justify-center md:justify-between items-center relative"
      >
        <h1 class="text-3xl font-extrabold tracking-tight md:text-3xl relative">
          {about.frontmatter.name}
          <div class="absolute top-0 left-full">
            </div>
          </div>
        </h1>
      </div>
      <h2 class="text-lg font-medium text-slate-500"><Icon name="carbon:friendship" class="w-4 h-4 mr-1 inline-block" />
        {about.frontmatter.designation}
      </h2>
      <div class="flex items-center justify-center mt-1">
        <p><Icon name="carbon:group-presentation" class="w-6 h-6 mr-2 inline-block" /><span class="font-semibold">Gerindra</span></p>
        <p class="text-sm text-secondary ml-2 font-semibold">| <a href="https://mahyeldivasko.com" target="_blank">{about.frontmatter.website}</a></p>
      </div>
    </div>
  </article>
</header>

<style>
  @media (max-width: 768px) {
    .flex-col.justify-end {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
